<!DOCTYPE html> {% load staticfiles %} {% load thumbnail %}

<html>
  <head>
    <meta charset="utf-8" />
    <title>КРОШИК</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <body>
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Главная</a></li>
          <li class="breadcrumb-item">
            <a href="{% url 'child' child.id %}">Это я</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Моя семья</li>
        </ol>
      </nav>

      <div class="main-gallery">
        {% for member in family %}
        <div class="photo-name">
          {% thumbnail member.photo "245x245" crop="center" as im %}
          <img src="{{ im.url }}" /> {% endthumbnail %} <br />
          {{ member.name }} - {{member.relationship}}
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
