<!DOCTYPE html>
{% load staticfiles %}
{% load thumbnail %}
<html>
<head>

    <meta charset="utf-8">
    <title>КРОШИК</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body><div class="container">
        <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Главная</a></li>
    <li class="breadcrumb-item"><a href="{% url 'child' child.id %}">Это я</a></li>
      <li class="breadcrumb-item"><a href="{% url 'family' child.id %}">Моя семья</a></li>
  </ol>
</nav>
<div>
        <div class="photo-place">
    {% thumbnail photo.file "600x600" padding=True padding_color='#f8f8f8' as im  %}

            <div class="photo-item">

            <img src="{{ im.url }}">


  <div class="photo-description">

      <div class="photo-date">{{ photo.date| date:"SHORT_DATE_FORMAT" }}</div>
        <b>{{ photo.title }}</b><br>
    {{ photo.description }}

            </div>


    {% endthumbnail %}
              </div>
    </div>
    </div>
</body>

