<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>

    <meta charset="utf-8">
    <title>КРОШИК</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="container">
        {% include "child/includes/inc_menu.html" %}

<div class="media">
  <img class="mr-3" src="{{ photo.file.url }}" height="400" alt="Generic placeholder image">
  <div class="media-body">
    <h5 class="mt-0">{{ photo.title }}</h5>
    {{ photo.description }}
  </div>
</div>
    </div>


